{{ if .IsPage }}
{{- $image := .Resources.GetMatch "header" -}}
{{- with $image -}}
  {{- $crop := $.Params.crop | default "smart" -}}
  {{- $socialImage := .Process "jpg q85" -}}
  {{- if and (ge .Width 1200) (ge .Height 630) -}}
    {{- $socialImage = .Fill (printf "1200x630 jpg q85 %s" $crop) -}}
  {{- end -}}
  <meta property="og:image" content="{{ $socialImage.Permalink | absURL }}" />
{{- else -}}
{{- $images := partial "_funcs/get-page-images" . -}}
{{- range first 6 $images -}}
<meta property="og:image" content="{{ .Permalink }}" />
{{- end -}}
{{ end }}
{{ end }}
