<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#00404D" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="#f2f2f2" media="(prefers-color-scheme: light)" />
    {{- if .IsHome }}
        <meta name="description" content="{{ .Site.Params.Description }}">
    {{- else if .Description }}
        <meta name="description" content="{{ .Description }}">
    {{- end }}

    <title>{{- if .IsHome }}{{ .Site.Title }}{{- else }}{{ .Title }} &middot; {{ .Site.Title }}{{- end }}</title>

    <!-- CSS -->
    {{- $cssTarget		:= "css/style.css" }}
    {{- $cssOptions		:= (dict "transpiler" "dartsass" "targetPath" $cssTarget "outputStyle" "compressed" "includePaths" (slice "node_modules")) }}
    {{- $style			:= resources.Get "scss/ninfa.scss" | toCSS $cssOptions | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}">
    {{ range .Site.Params.css -}}
        <link rel="stylesheet" href="{{ . | relURL }}">
    {{ end -}}

    {{partialCached "headers/plausible.html" . }}

    <!-- Favicon -->
    <link rel="icon" href="{{ "/favicon.svg" | relURL }}" type="image/svg+xml">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | relURL }}">

    <!-- RSS -->
    <link href="{{ .Site.Params.social.rss }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    {{- if .Site.Params.webmentionUrl -}}
    <link rel="webmention" href="{{ .Site.Params.webmentionUrl }}" />
    {{- end -}}


    {{- if .Params.math -}}
    {{ partialCached "headers/mathjax.html" . }}
    {{- end -}}
    {{ partial "headers/opengraph.html" . }}
    {{ partial "headers/opengraph_image.html" . }}
</head>
