{{/*  This code is based on Oliver Menzel who explained it here 
https://www.menzel.it/post/2024/11/set-comments-experience-bluesky-posts/  */}}
{{ if and (isset .Params "comments") (isset .Params.comments "id") }}
<div class="comment-section">
  <h2>Comments 🦋</h2>
  <p class="comment-intro">
      You can use your <i>Bluesky</i> account to
      <a class="button-link" href="https://bsky.app/profile/{{ .Site.Params.article.bluesky }}/post/{{ .Params.comments.id }}"
          target="_blank">reply</a>
      to this post. Learn how this is implemented
      <a class="link" href="https://www.menzel.it/post/2024/11/set-comments-experience-bluesky-posts/">here</a>.
  </p>
  <div id="bluesky-comments-list"></div>
  <noscript>You need JavaScript to view the comments.</noscript>
  <script src="/js/vendor/purify.min.js"></script>
  <script src="/js/blueskycomments.js"></script>
  <script>
    loadBlueskyComments({{ .Site.Params.article.bluesky }}, {{ .Params.comments.id }})
  </script>
</div>
{{ end }}