<script>
   const checkbox = document.querySelector("#dtt");
    const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");
    const themeColorMeta = (prefersDarkScheme.matches) ?
        document.querySelector('meta[name="theme-color"][media="(prefers-color-scheme: dark)"]') :
        document.querySelector('meta[name="theme-color"][media="(prefers-color-scheme: light)"]');

    // Set c1 and remove c2 if present.
    function toggleTwo(c1, c2) {
        document.body.classList.toggle(c1);
        if (document.body.classList.contains(c2)) {
            document.body.classList.toggle(c2);
        }
    }

    function setTheme(theme) {
        if (theme === "dark") {
            themeColorMeta.setAttribute("content", "#00404D");
            toggleTwo("dark-theme", "light-theme");
            checkbox.checked = true;
        } else if (theme === "light") {
            themeColorMeta.setAttribute("content", "#F2F2F2");
            toggleTwo("light-theme", "dark-theme");
            checkbox.checked = false;
        }
    }

    const currentTheme = localStorage.getItem("theme");
    if (currentTheme === "dark" || (currentTheme !== "light" && prefersDarkScheme.matches)) {
        setTheme("dark");
    } else {
        setTheme("light");
    }

    checkbox.addEventListener("click", () => {
        let theme = checkbox.checked ? "dark" : "light";
        setTheme(theme);
        localStorage.setItem("theme", theme);
    });
</script>
<noscript>
    <style>
        .dark-theme-toggle-wrapper {
            display: none;
        }
    </style>
</noscript>