{{ $cropMethod := .context.Params.crop }}
{{ if not $cropMethod}}
{{ $cropMethod = "smart" }}
{{ end }}
{{ $image := .context.Resources.GetMatch "header" }}
{{ if $image }}
    {{ $image = $image.Fill (print .sizes " " $cropMethod) }}
{{ else }}
    {{ $defaultPath := $.context.Site.Params.defaultPostImage }}
    {{ if $defaultPath }}
        {{ $image = resources.Get $defaultPath }}
        {{ if $image }}
            {{ $image = $image.Fill (print .sizes " " "center") }}
        {{ end }}
    {{ end }}
{{ end }}
{{ return $image }}