.alert {
    margin-left: -2rem;

    a {
        color: var(--admonitions-link-color);
    }

    &-info {
        color: black;
        background-color: var(--info-color);
        padding: 1rem;

        h4 {
            margin-block-end: 0.25rem;
        }
    }
}