.card-columns {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  margin-top: 0.5em;

  .card {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    background-color: var(--bg-color-darker);
    padding: 1em;

    &-title {
        font-family: var(--font-mono);
        margin: 0;
    }

    &-subtitle {
        font-family: var(--font-serif);
        margin: 0;
    }

    &-text {
        font-family: var(--font-san-serif);
        font-size: var(--font-size-xs);
        flex-grow: 2;
    }

    &-button {
        font-family: var(--font-mono);
        font-size: var(--font-size-md);
        margin-top: 10px;
        font-weight: var(--font-weight-bold);
        text-align: right;
        color: var(--primary-color);
    }
  }
}
