label {
  font-family: var(--font-mono);
  font-size: var(--font-size-md);
  font-weight: bold;
}

form.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  fieldset {
    display: flex;
    flex-direction: column;
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;

    legend {
      font-family: var(--font-mono);
      font-size: var(--font-size-lg);
      margin-left: -0.5em;
    }

    div {
      label {
        display: block;
      }
    }
  }

  input,
  textarea {
    border: 1px solid var(--black);
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: var(--font-size-xs);
    background-color: var(--white);
    color: var(--black);
    width: 100%;
  }

  textarea {
    resize: vertical;
  }

  input#submit {
    border: 1px solid var(--mid-gray);
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: var(--font-size-lg);
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
  }
}
