.pagination {
    ul {
        display: flex;
        justify-content: center;
        gap: 1rem;
        list-style-type: none;
        padding-left: 0;

        a {
            color: black;
        }
    }
}
