.post {
    font-size: 1.2rem;
    margin-block-start: 1rem;
    width: 100%;
    hyphens: auto;

    h1 {
        font-size: 2.5em;
        margin-bottom: 1em;
    }

    h2 {
        font-size: 2em;
        margin-bottom: 0.5em;
        margin-block-start: 1em;
    }

    h3 {
        font-size: 1.5em;
        margin-bottom: 0.5em;
        margin-block-start: 1em;
    }

    blockquote {
        margin-block: 1em 1em;
        margin-inline: 0;
        padding: 0.5em 1em;
        border-left: 0.25em solid var(--accent-color);
        color: var(--mid-gray);
        font-style: italic;
    }

    figure {
        margin-block: 1em;
        margin-left: -2em;
        margin-right: -2em;
        text-align: center;

        img {
            margin: auto;
        }

        figcaption {
            margin-top: 1rem;
            font-family: var(--font-mono);
            font-size: 0.7em;
        }
    }

    video {
        margin: auto;
        display: block;
        max-width: 100%;
    }

    a {
        color: var(--accent-color);
    }

    h2.post-subtitle {
        font-size: 1.5rem;
        font-style: oblique;
        margin-bottom: 2em;
        color: var(--mid-gray);
        margin-top: -1.5em !important;
    }

    &-info {
        display: flex;
        gap: 1rem;
        font-size: 0.9rem;
        color: var(--mid-gray);
        background-color: var(--info-post-color);
    }

    &-categories {
        display: flex;
        align-content: flex-start;
        gap: 1em;
        font-family: var(--font-mono);

        > a {
            text-decoration: none;
            color: var(--primary-color);
        }
    }

    time {
        font-family: var(--font-mono);
    }

    span {
        font-family: var(--font-mono);
    }

    &-body {
        margin-left: 5em;
        max-width: 70ch;
    }

    p {
        margin-block-end: 0.5em;
        line-height: 1.6em;
        text-align: justify;
    }

    header {
        .post-header-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: -1;
            opacity: 0.3;
            object-fit: cover;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .post-header-image::after {
            content: "";
            position: absolute;
            inset: 0;
            background-image: linear-gradient(to bottom, rgb(255 255 255 / 0%) 0%, var(--bg-color) 100%);
        }

    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        .post-line {
            border-bottom: 2px dotted var(--mid-gray);
        }

        .post-tags {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1.5em;
            margin-bottom: 1em;
            font-family: var(--font-mono);

            > a {
                text-decoration: none;
                color: var(--mid-gray);
                background-color: var(--bg-color-darker);
                border-radius: 10%;
                padding: 0 10px;
            }
        }
    }
}

@media only screen and (width <= 768px) {
    .post {
        .post-body {
            margin-left: 0;
            max-width: 100%;
        }

        figure {
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-left: 0.5em;
            margin-right: 0.5em;
            text-align: center;
        }

        header {
            .post-header-image {
                top: 3em;
            }
        }
    }
}