.post {
    font-size: var(--font-size-md);
    margin-block-start: 1rem;
    width: 100%;
    hyphens: auto;

    h1 {
        font-size: var(--font-size-3xl);
        margin-bottom: 1em;
    }

    h2 {
        font-size: var(--font-size-2xl);
        margin-bottom: 0.5em;
        margin-block-start: 1em;
    }

    h3 {
        font-size: var(--font-size-xl);
        margin-bottom: 0.5em;
        margin-block-start: 1em;
    }

    blockquote {
        margin-block: 1em;
        margin-inline: 0;
        padding: 0.5em 1em;
        border-left: 0.25em solid var(--accent-color);
        color: var(--mid-gray);
        font-style: italic;
    }

    figure {
        margin-block: 1em;
        margin-left: -2em;
        margin-right: -2em;
        text-align: center;

        img {
            margin: auto;
        }

        figcaption {
            margin-top: 1rem;
            font-family: var(--font-mono);
            font-size: var(--font-size-xs);
        }
    }

    video {
        margin: auto;
        display: block;
        max-width: 100%;
    }

    a {
        color: var(--accent-color);
    }

    h2.post-subtitle {
        font-size: var(--font-size-lg);
        font-style: oblique;
        margin-bottom: 2em;
        color: var(--mid-gray);
        margin-top: -1.5em !important;
    }

    &-info {
        display: flex;
        gap: 1rem;
        font-size: var(--font-size-sm);
        color: var(--mid-gray);
        background-color: var(--info-post-color);
    }

    &-categories {
        display: flex;
        align-content: flex-start;
        gap: 1em;
        font-family: var(--font-mono);

        > a {
            text-decoration: none;
            color: var(--primary-color);
        }
    }

    time {
        font-family: var(--font-mono);
    }

    span {
        font-family: var(--font-mono);
    }

    &-body {
        margin-left: 5em;
        max-width: 70ch;
        margin-bottom: 2rem; 
    }

    p {
        margin-block-end: 0.5em;
        line-height: var(--line-height-relaxed);
        text-align: justify;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        .post-line {
            border-bottom: 2px dotted var(--mid-gray);
        }

        .post-tags {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1.5em;
            margin-bottom: 1em;
            font-family: var(--font-mono);

            > a {
                text-decoration: none;
                color: var(--mid-gray);
                background-color: var(--bg-color-darker);
                border-radius: 10%;
                padding: 0 10px;
            }
        }
    }

    .page-title {
        margin-bottom: 0.5em;
    }
}

.post.backdropped {
    padding-top: 300px;
}

.photocredit {
    border-radius: 15px;
    background: var(--bg-color-darker);
    font-family: var(--font-mono);
    font-size: var(--font-size-xs);
    padding: 3px;
    margin: 1rem 0 1rem -1rem;

    p {
        margin-block-end: 0;
        margin-left: 10px;
    }
}

@media only screen and (width <= 768px) {
    .post {
        .post-body {
            margin-left: 0;
            max-width: 100%;
            margin-bottom: 2rem;
        }

        figure {
            margin-block: 1em;
            margin-left: 0.5em;
            margin-right: 0.5em;
            text-align: center;
        }
    }

    .photocredit {
        margin-left: 0;
    }
}
