/* Progress bar */
#progress-bar {
    --scrollAmount: 0%;
    
    background-image: linear-gradient(120deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    width: var(--scrollAmount);
    
    height: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }