.related {
    display: flex;
    gap: 0.5rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    font-size: var(--font-size-xs);

    .card {
        // This is used to make the cards have the same width.
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 8px;
        background-color: var(--bg-color-darker);

        &-image {
            border-radius: 1%;
            box-shadow: 2px 2px 2px #00000050;
            height: 100px;
            width: 100%;
            object-fit: cover;
        }

        &-body {
            color: unset;
        }

        &-title {
            font-size: var(--font-size-lg);
            font-family: var(--font-mono);
        }

        &-text {
            text-align: justify;
            hyphens: auto;
            overflow-block: hidden;
        }

        &-footer {
            font-size: var(--font-size-sm);
            font-family: var(--font-mono);
        }
    }

}

@media only screen and (width <= 768px) {
    .related {
        flex-direction: column;
        gap: 1rem;

        .card {
            flex: 1 1 0;
            padding: 0;

            &-image {
                height: 200px;
            }

            &-body {
                padding: 0.5rem;
            }

            &-title {
                font-size: var(--font-size-xl);
            }

            &-text {
                font-size: var(--font-size-md);
            }

            &-footer {
                font-size: var(--font-size-md);
            }
        }
    }
}