{{- if .Site.Params.related }}
<section class="related" >
{{ $related := .Site.RegularPages.Related . | first 3 }}
{{ with $related }}
    {{ range . }}

    {{ $img := partial "elements/get-header.html" (dict "context" . "sizes" "450x200") }}
    <div class="card">
        <div class="card-top">
            <img src="{{ $img.Permalink }}" class="card-image" alt="Header Image" loading="lazy" />
            <a class="card-body" href="{{ .Permalink }}">
                <h5 class="card-title">{{ .Title }}</h5>
                <p class="card-text">{{ .Summary | truncate 190 | plainify }}</p>
            </a>
        </div>
        <div class="card-footer">
            <small><time class="text-muted" datetime="{{ .PublishDate }}">{{ i18n "publishdate" . }}</time></small>
        </div>
    </div>
	{{ end }}
{{ end }}
</section>
{{- end }}
