<header class="sidebar">
    <h1 class="logo">
        <a href="{{ "/" | relURL }}">
        <img src="{{ .Site.Params.logo }}" alt="Davide Aversa Logo" width="70px" height="70px" />
        </a>
    </h1>
    <nav class="navbar-wrapper">
        <ul class="navbar">
        {{ range .Site.Menus.main }}
            <li class="navbar-item">
                <a href="{{ .URL }}">
                    {{ .Pre }}
                    <span class="{{ .Params.Class }}">{{ .Name }}</span>
                    {{ .Post }}
                </a>
            </li>
        {{ end }}
        </ul>
    </nav>
    {{ partial "elements/dark-light-toggle.html" . }}
</header>
<header class="mobile-nav">
    <a class="logo"  href="{{ "/" | relURL }}">
        <img src="{{ .Site.Params.logo }}" alt="Davide Aversa Logo" width="40px" height="40px" /> 
    </a>
    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <label id="nav-toggle-label" for="nav-toggle"></label>
    <nav id="mobile-navbar" >
        <ul class="navbar">
        {{ range .Site.Menus.main }}
            <li class="mobile-navbar-item">
                <a href="{{ .URL }}">
                    {{ .Pre }}
                    <span class="{{ .Params.Class }}">{{ .Name }}</span>
                    {{ .Post }}
                </a>
            </li>
        {{ end }}
        </ul>
    </nav>
</header>
