{{ with .Site.Params.Social.twitter }}
<a href="https://twitter.com/{{.}}" title="Twitter" rel="me">
    <img src="/images/icons/twitter.svg" width="16px" alt="Twitter Icon"/>
</a>
{{ end }}
{{- if .Site.Params.Social.mastodon -}}
<a rel="me" href="{{ .Site.Params.Social.mastodon }}">
    <img src="/images/icons/mastodon.svg" width="16px" height="16px" alt="Mastodon Icon"/>
</a>
{{- end -}}
{{ with .Site.Params.Social.bluesky }}
<a href="https://bsky.app/profile/{{ . }}" title="RSS" >
    <img src="/images/icons/bluesky.svg" width="16px" alt="RSS Icon"/>
</a>
{{ end }}
{{ with .Site.Params.Social.facebook }}
<a href="https://facebook.com/{{.}}" title="Facebbok" rel="me">
    <img src="/images/icons/facebook.svg" width="16px" alt="Facebook Icon"/>
</a>
{{ end }}
{{ with .Site.Params.social.github }}
<a href="https://github.com/{{.}}" title="GitHub" rel="me">
    <img src="/images/icons/github.svg" width="16px" height="16px" alt="GitHub Icon"/>
</a>
{{ end }}
{{ with .Site.Params.social.linkedin }}
<a href="https://linkedin.com/in/{{.}}" title="Linkedin" rel="me">
    <img src="/images/icons/linkedin.svg" width="16px" alt="LinkedIn Icon"/>
</a>
{{ end }}
{{ with .Site.Params.social.orcid }}
<a href="https://orcid.org/{{.}}" title="Orcid" rel="me"><i class="fab fa-orcid fa-lg" aria-hidden="true"></i></a>
{{end}}
{{ with .Site.Params.Social.rss }}
<a href="{{ . }}" title="RSS" >
    <img src="/images/icons/rss-fill.svg" width="16px" alt="RSS Icon"/>
</a>
{{ end }}