{{ define "main" }}

{{- $backdrop := .Params.header -}}
{{- if not $backdrop -}}
    {{- with partial "elements/get-header-source.html" . -}}
        {{- $backdrop = .RelPermalink -}}
    {{- end -}}
{{- end -}}

{{ partialCached "single/reading-status-bar.html" . }}
{{- with $backdrop }}
{{ partialCached "elements/backdrop.html" . . }}
{{- end }}
<article class="post{{ with $backdrop }} backdropped{{ end }}">
    {{- if eq .Type "page" }}
    <header>
        <h1 class="page-title">{{ .Title }}</h1>
    </header>   
    {{- else -}}
    <header>
        {{ partial "single/post-info.html" . }}
        <h1 class="post-title" style="view-transition-name: post-{{ .Slug }}">{{ .Title }}</h1>
        {{ if .Params.subtitle }}
        <h2 class="post-subtitle" style="view-transition-name: subtitle-{{ .Slug }}">{{ .Params.subtitle }}</h2>
        {{ end }}
    </header>
    {{- end -}}

    <section class="post-body">
    {{ .Content }}
    </section>

    {{ partial "single/footer.html" . }}
</article>

{{ partial "elements/related.html" . }}

{{- if (isset .Params "comments") }}
    {{ partial "elements/bluesky-comments.html" . }}
{{- end }}

<nav class="pagination">
    <ul>
        {{ if .Prev }}
        <li class="page-item"><a class="page-link" aria-label="Previous" href="{{ .Prev.RelPermalink }}">&#8592;</a></li>
        {{ else }}
        <li class="page-item"><a class="page-link invisible" href="#">&#8592;</a></li>
        {{ end }}
        <li class="page-item"><a class="page-link top" href="#">Top</a></li>
        {{ if .Next }}
        <li class="page-item"><a class="page-link" aria-label="Next" href="{{ .Next.RelPermalink }}">&#8594;</a></li>
        {{ else }}
        <li class="page-item"><a class="page-link invisible" href="#">&#8594;</a></li>
        {{ end }}
    </ul>
</nav>
<script>
    let processScroll = () => {
        let docElem = document.documentElement; 
        let docArticle = document.getElementsByTagName("main");
        let related = document.getElementsByClassName("related")[0];
        let scrollTop = docElem['scrollTop'] || docArticle['scrollTop'];
        let scrollBottom = (docElem['scrollHeight'] || docArticle['scrollHeight']) - window.innerHeight - related.clientHeight;
        let scrollPercent = scrollTop / scrollBottom * 100 + '%';
        document.getElementById("progress-bar").style.setProperty("--scroll-amount", scrollPercent); 
      }
      
      document.addEventListener('scroll', processScroll);
</script>
{{ end }}
