@layer catalogue {
    .catalogue {
        max-width: 700px;
        margin: auto;
        text-decoration: none;
        color: var(--black);

        h1 {
            color: var(--black);
            margin-bottom: 0.2rem;
        }
    }

    .catalogue-line {
        display: block;
        width: 2rem;
    }

    .catalogue-item {
        display: block;
        padding: 1rem 0;
    }

    .catalogue-item:hover .catalogue-line,
    .catalogue-item:focus .catalogue-line {
        width: 5rem;
    }

    .catalogue-item:last-child {
        border: 0;
    }

    .catalogue-time {
        letter-spacing: var(--letter-spacing-wide);
        color: var(--accent-color);
        font-family: var(--font-mono);
        font-size: var(--font-size-sm);
    }

    .catalogue-title {
        font-size: var(--font-size-3xl);
        font-weight: var(--font-weight-bold);
        letter-spacing: var(--letter-spacing-tighter);
    }

    .catalogue-subtitle {
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-normal);
        letter-spacing: var(--letter-spacing-tight);
        color: var(--mid-gray);
    }

    .catalogue-image {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        object-fit: cover;
        background-color: var(--bg-color-darker);
        color: rgb(0 0 0 / 0%);
    }

    .catalogue-summary {
        font-size: var(--font-size-md);
        line-height: var(--line-height-snug);
    }

    .catalogue-content {
        font-size: var(--font-size-sm);
        line-height: var(--line-height-snug);

        p {
            margin-block-end: 0.5em;
            line-height: var(--line-height-relaxed);
        }

    }

    .catalogue-metadata {
        display: flex;
        align-items: baseline;
        gap: 1rem;
        font-size: var(--font-size-sm);
    }

    .catalogue-category {
        text-decoration: none;
    }

    .catalogue-category-text {
        font-family: var(--font-mono);
        font-size: var(--font-size-sm);
        letter-spacing: var(--letter-spacing-wide);
        text-transform: uppercase;
        color: var(--mid-gray);
    }

    .catalogue-item-link,
    .catalogue-item-byte {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }

    .catalogue-ribbon {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        font-family: "Courier New", Courier, monospace;
        color: white;
        padding-top: 0.5rem;
        width: 20px;
        vertical-align: middle;
        font-size: var(--font-size-sm);

        img {
            display: inline;
            margin-bottom: 0.4rem;
        }
    }

    .catalogue-ribbon-link {
        background-color: rgba(255 0 0 / 60%);
    }

    .catalogue-ribbon-byte {
        background-color: rgba(111 0 254 / 60%);
    }
}
