{{ if .IsPage }}
{{- $image := .Resources.GetMatch "header" -}}
{{- with $image -}}
  {{/* This is a fix for platforms that do not support webp og:images. At some point this should be removed. */}}
  {{- $image = $image.Resize "600x png" -}}
  <meta property="og:image" content="{{ $image.Permalink | absURL }}" />
{{- else -}}
{{- $images := partial "_funcs/get-page-images" . -}}
{{- range first 6 $images -}}
<meta property="og:image" content="{{ .Permalink }}" />
{{- end -}}
{{ end }}
{{ end }}
