{{ define "main" }}
<main>
    <h1>{{ .Title }}</h1>
        <div class="card-columns">
        {{- range (.Paginate .Data.Pages).Pages -}}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ .Title }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ len .Data.Pages }}</h6>
              <p class="card-text font-monospace">{{ .Params.description }}</p>
              <a href="{{ .Permalink }}" class="btn btn-small btn-primary font-monospace">Go</a>
            </div>
          </div>
            <!--<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>-->
        {{- end -}}
        </div>
	
        {{ partial "elements/paginator-navbar.html" . }}
</main>

{{ end }}