{{ define "main" }}
<main>
    <h1>{{ .Title }}</h1>
        <div class="card-columns">
        {{- range (.Paginate .Data.Pages).Pages -}}
        <div class="card">
            <h5 class="card-title">{{ .Title }}</h5>
            <h6 class="card-subtitle">{{ len .Data.Pages }}</h6>
            <p class="card-text">{{ .Params.description }}</p>
            <a class="card-button" href="{{ .Permalink }}">Go</a>
          </div>
        {{- end -}}
        </div>
	
        {{ partial "elements/paginator-navbar.html" . }}
</main>

{{ end }}