<div  class="catalogue-item-link">
    <div class="catalogue-ribbon catalogue-ribbon-link">
        <img src="/images/icons/link.svg" width="10px" height="10px" alt="GitHub Icon"/>
        LINK • {{ range $category := .Params.Categories }}
        {{ $category | upper }}
        {{ end }}
    </div>
    <div class="catalogue-wrapper">
    <div class="catalogue-metadata">
        <time datetime="{{ .PublishDate }}" class="catalogue-time">{{ i18n "publishdatetime" . }}</time>
    </div>
    <a href="{{ .Params.link }}">
    <h1 class="catalogue-title text-primary">
        {{ .Title }} <span class="badge badge-primary font-monospace"><i class="fas fa-link"></i></span></h1>
    <div class="catalogue-line"></div>
    </a>
    <p class="catalogue-summary text-justify">
    {{ if isset .Params "summary" }}{{ .Params.Summary | markdownify }}{{ else }}{{ .Summary }}{{ end }}
    </p>
    </div>
</div>
